.header__nadpis{
    font-size: 150%;  color: #740000
}

.navbar__table{
    color: #a71919;
}

.navbar__ssylki{
    color:rgb(13, 188, 39)
}

.sidebar__hz{
    color:rgb(10, 207, 210)
}
.main__spisok{
    color:#971414
}
.main__ychastnik{
    color:black
}

.footer__nadpis{
    color:#ddd
}